{% extends "core/frontend/index.jinja" %}
{% block content %}
<h1>System Management</h1>

<div class="row" id="rowForm">
    {% if sesh.permissions >= 2 %}
    <div class="col-sm-6" style="max-width: 25%;">
        <form id="usrLookup" name="usrLookup" action="/sys/lookup.user" class="form-inline">
            <h3>User Search</h3>
            <div class="form-group">
                <label for="usrEmail">Email address</label>
                <input type="email" class="form-control" id="usrEmail" name="usrEmail" aria-describedby="emailHelp">
            </div>
            OR
            <div class="form-group">
                <label for="usrName">Username</label>
                <input type="text" class="form-control" id="usrName" name="usrName">
            </div>
            OR
            <div class="form-group">
                <label for="usrId">User ID</label>
                <input type="number" class="form-control" id="usrId" name="usrId">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    {% endif %}
    {% if sesh.permissions >= 4 %}
    <div class="col-sm-6" style="max-width: 25%;">
        <form id="arcadeLookup" name="arcadeLookup" action="/sys/lookup.arcade" class="form-inline" >
            <h3>Arcade Search</h3>
            <div class="form-group">
                <label for="arcadeName">Arcade Name</label>
                <input type="text" class="form-control" id="arcadeName" name="arcadeName">
            </div>
            OR
            <div class="form-group">
                <label for="arcadeId">Arcade ID</label>
                <input type="number" class="form-control" id="arcadeId" name="arcadeId">
            </div>
            OR
            <div class="form-group">
                <label for="arcadeUser">Owner User ID</label>
                <input type="number" class="form-control" id="arcadeUser" name="arcadeUser">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-sm-6" style="max-width: 25%;">
        <form id="cabLookup" name="cabLookup" action="/sys/lookup.cab" class="form-inline" >
            <h3>Machine Search</h3>
            <div class="form-group">
                <label for="cabSerial">Machine Serial</label>
                <input type="text" class="form-control" id="cabSerial" name="cabSerial">
            </div>
            OR
            <div class="form-group">
                <label for="cabId">Machine ID</label>
                <input type="number" class="form-control" id="cabId" name="cabId">
            </div>
            OR
            <div class="form-group">
                <label for="cabAcId">Arcade ID</label>
                <input type="number" class="form-control" id="cabAcId" name="cabAcId">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    {% endif %}
</div>
<div class="row" id="rowResult" style="margin: 10px;">
    {% if sesh.permissions >= 2 %}
    <div id="userSearchResult" class="col-sm-6" style="max-width: 25%;">
        {% for usr in usrlist %}
        <pre><a href=/user/{{ usr.id }}>{{ usr.id }} | {{ usr.username }}</a></pre>
        {% endfor %}
    </div>
    {% endif %}
    {% if sesh.permissions >= 4 %}
    <div id="arcadeSearchResult" class="col-sm-6" style="max-width: 25%;">
        {% for ac in aclist %}
        <pre><a href=/arcade/{{ ac.id }}>{{ ac.id }} | {{ ac.name }}</a></pre>
        {% endfor %}
    </div
    ><div id="cabSearchResult" class="col-sm-6" style="max-width: 25%;">
        {% for cab in cablist %}
        <a href=/cab/{{ cab.id }}><pre>{{ cab.id }} | {{ cab.game if cab.game is defined else "ANY "  }} | {{ cab.serial }}</pre></a>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="row" id="rowAdd">

</div>
{% endblock content %}